{% block content %}
<div class="card !p-8">
  <form hx-post="{{ request.path }}" class="modal-content px-4">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add a New Variation to a product</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        {{ form.product.label_tag }} {{ form.product }}
      </div>
      <div class="form-group">
        {{ form.diameter.label_tag }} {{ form.diameter }}
      </div>
      <div class="form-group">
        {{ form.length.label_tag }} {{ form.length }}
      </div>
      <div class="form-group">{{ form.width.label_tag }} {{ form.width }}</div>
      <div class="form-group">
        {{ form.main_variation.label_tag }} {{ form.main_variation }}
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-footer justify-end">
        <button type="submit" class="button">Add Variation</button>
        <a
          class="button secondaryAction ml-1"
          href="{{ request.META.HTTP_REFERER }}"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</div>
{% endblock %}

<script>
  htmx.defineExtension("submit-form", (event) => {
    event.on("htmx:afterRequest", (xhr) => {
      if (xhr.status === 204) {
        const modal = new bootstrap.Modal(document.getElementById("modal"));
        modal.hide();
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const productSelect = document.getElementById('id_product');
    productSelect.addEventListener('change', function() {
      const productId = this.value;
      const url = `/management/get_product_shape/${productId}/`; // Adjust URL as needed
      fetch(url)
        .then(response => response.json())
        .then(data => {
          const shape = data.shape;
          // Example: Hide or show fields based on shape
          if (shape === 'C') {
            document.getElementById('id_diameter').closest('.form-group').style.display = '';
            document.getElementById('id_length').closest('.form-group').style.display = 'none';
            document.getElementById('id_width').closest('.form-group').style.display = 'none';
          } else if (shape === 'R') {
            document.getElementById('id_diameter').closest('.form-group').style.display = 'none';
            document.getElementById('id_length').closest('.form-group').style.display = '';
            document.getElementById('id_width').closest('.form-group').style.display = '';
          }
        });
    });
  });
  </script>

