{% block content %}
<div class="card !p-8">
  <form hx-post="{{ request.path }}" class="modal-content px-4">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add a New Supplier</h5>
    </div>
    <div class="flex items-center mb-6">
      <img
        class="h-5 object-cover mr-1"
        src="https://img.icons8.com/small/96/333333/search--v1.png"
      />
      <a
        href="https://www.pastrydepot.com/"
        target="_blank"
        class="hover:underline text-gray-500"
        >Find supplier information on The Pastry Depot</a
      >
    </div>
    <div class="modal-body">
      {{ form.as_p }}
    </div>
    <div class="modal-footer justify-end">
      <button type="submit" class="button"
      href="{{ request.META.HTTP_REFERER }}"

      >Submit</button>
      <a
        class="button secondaryAction ml-1"
        href="{{ request.META.HTTP_REFERER }}"
        >Cancel</a
      >
    </div>
  </form>
</div>
<script>
  htmx.defineExtension('submit-form', (event) => {
    event.on('htmx:afterRequest', (xhr) => {
      if (xhr.status === 204) {
        const modal = new bootstrap.Modal(document.getElementById("modal"));
        return modal.hide();
      }
    });
  });
</script>
{% endblock %}
