{% block content %}
<div class="card !p-8">
  <form hx-post="{{ request.path }}" class="modal-content px-4" method="post" id="dialog">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add a New Recipe</h5>
    </div>
    <div class="flex items-center mb-6">
      <img
        class="h-5 object-cover mr-1"
        src="https://img.icons8.com/small/96/333333/search--v1.png"
      />
      <a
        href="https://www.pastrydepot.com/"
        target="_blank"
        class="hover:underline text-gray-500"
        >Find supplier information on The Pastry Depot</a
      >
    </div>
    <div class="modal-body">
      {{ form.as_p }}
      <h6>Ingredients</h6>
      <fieldset>
        <legend>Ingredients</legend>
        {{ formset.management_form }}
        {% for form in formset %}
          <div class="ingredient-formset">
            {{ form.ingredient }}
            {{ form.quantity_in_grams }}
          </div>
        {% endfor %}
      </fieldset>
    </div>
    <div class="modal-footer justify-end">
      <button type="submit" class="button">Submit</button>
      <a
        class="button secondaryAction ml-1"
        href="{{ request.META.HTTP_REFERER }}"
        >Cancel</a
      >
    </div>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('recipeForm');
    htmx.on('htmx:afterRequest', function(event) {
      const modal = new bootstrap.Modal(document.getElementById('dialog'));
      if (event.detail.xhr.status === 204 || event.detail.xhr.status === 200) {
        modal.hide();
      }
    });
  });
</script>
{% endblock %}
