{% block content %}
<div class="card !p-8">
  <form
    hx-post="{{ request.path }}"
    class="modal-content px-4"
    method="post"
    id="dialog"
  >
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add a New Variation to a product</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        {{ form.product.label_tag }} {{ form.product }}
      </div>
      <div class="form-group">
        {{ form.diameter.label_tag }} {{ form.diameter }}
      </div>
      <div class="form-group">
        {{ form.length.label_tag }} {{ form.length }}
      </div>
      <div class="form-group">{{ form.width.label_tag }} {{ form.width }}</div>
      <div class="form-group">
        {{ form.main_variation.label_tag }} {{ form.main_variation }}
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-footer justify-end">
        <button
          type="submit"
          class="button"
          href="{{ request.META.HTTP_REFERER }}"
        >
          Submit
        </button>
        <a
          class="button secondaryAction ml-1"
          href="{{ request.META.HTTP_REFERER }}"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</div>
{% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("recipeForm");
    htmx.on("htmx:afterRequest", function (event) {
      const modal = new bootstrap.Modal(document.getElementById("dialog"));
      if (event.detail.xhr.status === 204 || event.detail.xhr.status === 200) {
        modal.hide();
      }
    });
  });
</script>

