
{% block content %}
<div class="container">
    <h2>Recipes List</h2>
    <ul>
        {% for recipe in recipes %}
        <li>
            <strong>{{ recipe.name }}</strong> - {{ recipe.description }}
            <a href="{% url 'management:recipe-update' recipe.pk %}">Edit</a> |
            <a href="{% url 'management:recipe-delete' recipe.pk %}">Delete</a>
        </li>
        {% empty %}
        <li>No recipes found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'management:recipe-create' %}">Add New Recipe</a>
</div>
{% endblock %}
