<!-- sidebar.html -->
<aside
  x-show="mobileSidebarOpen"
  x-cloak
  class="md:!block col-span-12 md:col-span-4 lg:mr-[20%] order-1 md:order-2"
  x-transition:enter="duration-300 ease-out"
  x-transition:enter-start="opacity-0 -mt-96"
  x-transition:enter-end="opacity-100 mt-0"
>
  <section class="card p-4">
    <h2>Step 1</h2>
    <ul class="hoverlist">
      <li>
        <a
          hx-get="{% url 'management:add_supplier' %}"
          hx-target="#dialog"
          hx-trigger-click
          hx-swap="outerHTML"
          hx-indicator=".progress"
        >
          <span class="font-bold text-sm">Add a Supplier</span>
        </a>
      </li>
    </ul>
    <h2>Step 2</h2>
    <ul class="hoverlist">
      <li>
        <!-- need to create a list Ingredient form -->
        <a
          hx-get="{% url 'management:add_product' %}"
          hx-target="#dialog"
          hx-trigger-click
          hx-swap="outerHTML"
          hx-indicator=".progress"
        >
          <span class="font-bold text-sm">Add an Ingredient</span>
        </a>
      </li>
    </ul>
    <h2>Step 3</h2>
    <ul class="hoverlist">
      <li>
        <a
          hx-get="{% url 'management:add_recipe' %}"
          hx-target="#dialog"
          hx-trigger-click
          hx-swap="outerHTML"
          hx-indicator=".progress"
        >
          <span class="font-bold text-sm">Add a Recipe</span>
        </a>
      </li>
    </ul>
    <h2>Step 4</h2>
    <ul class="hoverlist">
      <li>
        <a
          hx-get="{% url 'management:add_product' %}"
          hx-target="#dialog"
          hx-trigger-click
          hx-swap="outerHTML"
          hx-indicator=".progress"
        >
          <span class="font-bold text-sm">List a Product</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
