<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://live.staticflickr.com/4143/4920908729_8ab6ef4c7b_c.jpg')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
      <h1 class="font1 text-6xl title-fadein">Manage Delicious Recipes and Costs</h1>
      <p class="text-lg font-bold mb-5">An internal application for managing recipes and production costs.</p>
      {% if not user.is_authenticated %}
      <a class="button" href="{% url 'account_login' %}">Get Started</a>
      {% endif %}
    </div>
</hero>
